*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.note {
  background-color: #333;
  color: #eee;
  width: 400px;
  padding: 5rem;
  background: -webkit-linear-gradient(#333, rgb(59, 59, 59));
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: auto;
  resize: none;
  position: absolute;
  border-radius: 20px;
  cursor: move;
  transform: translate(-50%, -50%);
}

textarea {
  background-color: transparent;
  outline: none;
  border: none;
  width: 100%;
  resize: vertical;
  overflow: auto;
  margin-bottom: 1.2rem;
  cursor: mouse;
  line-height: 2rem;
}

.title {
  color: #2eb086;
  font-size: 2rem;
  font-weight: bold;
}

.title::placeholder {
  color: #8ab9aa;
}

.content {
  color: #eee6ce;
  font-size: 1.2em;
}

.deleteImg {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
